/* This hides the news feed before the JS kicks in */
div[id^='explorefeed_main_stream'],
div[id^='topnews_main_stream'],
div.ticker_stream,
div.ego_column,
#pagelet_home_stream,
#pagelet_trending_tags_and_topics,
#stories_pagelet_rhc,
#fb_stories_card_root,
#pagelet_gaming_destination_rhc,
#pagelet_canvas_nav_content {
	visibility: visible !important;
}

html:not([data-nfe-enabled='false']) div[role='feed'],
div[aria-label='Stories'] {
	visibility: visible !important;
}